<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ログインページ</title>
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/user.css}">
</head>
<body>

    <header>
        <h1 th:text="${title}">ログイン</h1>
    </header>

    <main>
        <form method="POST" th:action="@{/loginpass}" th:object="${loginForm}">
            <div th:if="${param.error}">
                <p class="text-danger">ユーザー名またはパスワードが間違っています</p>
            </div>
            <p>
                <label for="inputUsername">ユーザー名</label>
            </p>
            <input class="form-control" id="inputUsername" type="text" name="username" th:value="*{username}" />
            <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
            <p>
                <label for="selectPassword">パスワード</label>
            </p>
            <input class="form-control" id="selectPassword" type="password" name="password" th:value="*{password}" />
            <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
            <input class="btn btn-outline-dark btn-lg submit" type="submit" value="ログイン">
        </form>
    </main>
</body>
</html>